<!-- templates/dashboard.html -->
{% extends 'base.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% trans "Dashboard" %}{% endblock %} 
{% block content %}
<div class="row no-gutters pb-3">
    <div class="col-6 pr-3">
        <div class="card h-100">
            <h6 class="card-header border-bottom">
                <b>Account</b>
                {% if user.profile.account_status == user.profile.AWAITING_APPROVAL %}
                <span class="badge badge-danger float-right">{{user.profile.get_account_status_display}}</span>
                {% else %}
                <span class="badge badge-success float-right">{{user.profile.get_account_status_display}}</span>
                {% endif %}
            </h6>
            <div class="card-body p-3 pb-0">
                <div class="row">
                    <div class="col">
                        <table class="table mb-0 table-borderless">
                            <tbody>
                                <tr>
                                    <td style="width: 40%">
                                        <b>{% trans "SCW username" %}:</b>
                                    </td>
                                    <td style="width: 60%">{% if user.profile.scw_username %} {{user.profile.scw_username}} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{% trans "Identity" %}:</b>
                                    </td>
                                    <td>{{user.email}}</td>
                                </tr>
                                {% if user.profile.hpcw_username %}
                                <tr>
                                    <td>{% trans "HPCW username" %}</td>
                                    <td>{{user.profile.hpcw_username}}</td>
                                </tr>
                                {% endif %} {% if user.profile.hpcw_email %}
                                <tr>
                                    <td>{% trans "HPCW email" %}</td>
                                    <td>{{user.profile.hpcw_email}}</td>
                                </tr>
                                {% endif %} {% if user.profile.raven_username %}
                                <tr>
                                    <td>{% trans "Raven username" %}</td>
                                    <td>{{user.profile.raven_username}}</td>
                                </tr>
                                {% endif %} {% if user.profile.raven_email %}
                                <tr>
                                    <td>{% trans "Raven email" %}</td>
                                    <td>{{user.profile.raven_email}}</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block custom_js %}
{% endblock %}
